@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --white-text:#f9faf8;
    --links:#e5e7eb;
    --description:#3e3e3e;;
    --screenshots-heading:#1F2937;
    --background: #1f2937;
    --background-button:#3882f6;
    --background-button-active:#295cad;
    --background-button-hover:#428aff;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
   
    position: fixed;
    left: 0;
    right: 0;
}

header,
footer{
    background-color: var(--background);
}

.logo{
    height: 60px;
}

.navigation{
    display: flex;
    justify-content: space-between;

    width: 300px;
    margin: 0;
    padding: 0;

    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: var(--links);
}

.hero{
    color: var(--white-text);
    background-color: var(--background);

    padding: 200px 100px;

    display: flex;
    gap: 50px;
}

.hero > *{
    flex: 1;
}

.hero h1{
    font-size: 48px;
    font-weight: bolder;
}

.hero p{
    font-size: 24px;
    color:var(--white-text);
}

button{
    border: unset;
    border-radius: 10px;
    padding: 10px 60px;
    font-size: 20px;
    color: var(--white-text);
    font-weight: bold;
    background-color: var(--background-button);
}

button:hover{
    background-color: var(--background-button-hover);
}

button:active{
    background-color: var(--background-button-active);
}

iframe{
    box-shadow: black 0 20px 50px -20px;
}

.screenshots{
    padding: 0 100px;

    text-align: center;
}

.screenshots h2{
    margin: 60px 0;
    font-size: 36px;
    font-weight: 900;
    color: var(--screenshots-heading);
}

.screenshots-showcase{
    max-width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.screenshot img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    box-shadow: black 0 20px 50px -20px;

}

.screenshot{
    flex: 1;

    color: var(--description);
    font-size: 1.08rem;
}